.main-content {
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    overflow: auto;
    padding-top: 60px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms ease;
}

.footer {
    color:#4e0019;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000000;
    text-align: center;
    font-size: 1em;
}
.logout-btn{
    font-weight: 500;
    color: #e4e4e4;
    font-size: 1.5em; 
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
    background-color: #ad214d;
}

.nav-item.active {
    color: #fff;
}

.cards-container {
    padding: 0 30px;
}

.card {
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    min-width: 300px;
    max-width: 365px;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
}

.date-container {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.goals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals {
    display: flex;
}

.results {
    text-align: center;
}

.results.hidden {
    display: none;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 50px;
}

.team-logo img {
    display: block;
    width: 100%;
}

.goal-conatiner {
    position: relative;
    margin: 0 10px;
}

.goals-count {
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    font-size: 1.6em;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.goals-chooser {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 1em;
    background-color: #000;
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.goals-chooser.expanded {
    display: block;
}

.goals-chooser .goal-count {
    height: 40px;
    width: 40px;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 1px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seperator {
    font-size: 1.6em;
    line-height: 1.4;
}